<%= form_for ([@article, @article.comments.build]) do |f| %>
 <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
    <div class="d-flex flex-start w-100">
      <img
        class="rounded-circle shadow-1-strong me-3"
        src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp"
        alt="avatar"
        width="40"
        height="40"
      />
      <div class="form-outline w-100">
        <%= f.text_area :body,
        class: "form-control",
          id: "textAreaExample",
          rows:"4",
          style:"background: #fff;" %>
        <label class="form-label" for="textAreaExample">Message</label>
        <div class="float-end mt-2 pt-1">
          <%= f.submit 'Post comment', class: "btn btn-primary btn-sm"  %>
          <button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
        </div>
      </div>
    </div>
  </div>
<% end %> 


