<h1 class= "text-center mt-4"> Edit category</h1>
<div class="container">
	<div class="row justify-content-center">
			<%= render 'form' %>	
			<%= link_to '[ Cancel & Return to category ]' , category_path(@category), class: "text-info text-center" %>
	</div>		
</div>


