<h1 class= "text-center mt-4"> Create a new category</h1>
<div class="container">
	<div class="row justify-content-center">
			<%= render 'form' %>	
			<%= link_to '[ Cancel & Return to categories listing ]' , categories_path, class: "text-info text-center" %>
	</div>		
</div>





